/* General Responsive Styles */

/* For small devices like older phones (max-width: 320px) */
@media (max-width: 320px) {
    .hero__title__header {
      font-size: clamp(0.8rem, 6cqi, 4rem);
    }
    
    .video__text__overlay .text__header__left{
      font-size: 30px;
    }
  
    .video__text__overlay .text__header__right{
      font-size: 30px;
    }
  
  
    /* .about__text {
      font-size: 0.8rem;
    }
    .project__details p,
    .post__details p {
      font-size: 0.05rem;
    } */
  }
  
  /* For mobile devices (max-width: 480px) */
  @media (max-width: 480px) {
    .hero__container {
      gap: 20px;
    }
    .hero__title__header {
      font-size: clamp(1rem, 10cqi, 6rem);
      margin-bottom: 1rem;
    }
    /* .about__text {
      width: 95%;
      font-size: 1rem;
    }
    .project {
      width: 80vw;
      padding: 30px 5px 20px;
    }
    .post {
      width: 95%;
      padding: 0.6rem;
    } */
  
    .video__text__overlay .text__header__left{
      font-size: 30px;
    }
  
    .video__text__overlay .text__header__right{
      font-size: 30px;
    }
  }
  
  /* For tablets (min-width: 768px and max-width: 1024px) */
  @media (min-width: 768px) and (max-width: 1024px) {
    .hero__title__header {
      font-size: clamp(2rem, 7cqi, 4.5rem);
      margin-bottom: 1.5rem;
    }
    /* .about__text {
      width: 70%;
      font-size: 1.2rem;
    }
    .project {
      width: 35vw;
      padding: 60px 15px 40px;
    }
    .post {
      width: 70%;
    } */
  
    .video__text__overlay .text__header__left{
      font-size: 70px;
    }
  
    .video__text__overlay .text__header__right{
      font-size: 70px;
    }
  }
  
  /* For desktops (min-width: 1024px) */
  @media (min-width: 1024px) {
    .hero__title__header {
      font-size: clamp(15rem, 15cqi, 20rem);
    }
    .about__text {
      width: 45%;
      font-size: 1.4rem;
    }
    .project {
      width: 25vw;
      padding: 80px 20px 60px;
    }
    .post {
      width: 50%;
    }
  }
  
  /* Extra Large Screens (min-width: 1440px) */
  @media (min-width: 1440px) {
    .hero__container {
      gap: 100px;
    }
    .project__details p,
    .post__details p {
      font-size: 1rem;
    }
  }
    /* Contact */
  
    /* Media query for tablets and large devices */
  @media (max-width: 1024px) {
      .app-title {
        font-size: 50px; /* Adjust font size for tablets */
      }
    
      .screen-body-item {
        padding: 30px; /* Adjust padding for tablets */
      }
    }
    
    /* Media query for mobile devices */
    @media (max-width: 768px) {
      .app-title {
        font-size: 40px; /* Adjust font size for mobile devices */
      }
    
      .screen-body-item {
        padding: 20px; /* Adjust padding for mobile devices */
      }
    
      .app-form-control {
        font-size: 12px; /* Adjust font size for mobile devices */
      }
    
      .app-form-group.message {
        margin-top: 20px; /* Adjust margin for mobile devices */
      }
    }
    
    /* Media query for smaller mobile devices */
    @media (max-width: 480px) {
      .app-title {
        font-size: 30px; /* Adjust font size for smaller mobile devices */
      }
    
      .screen-body-item {
        padding: 10px; /* Adjust padding for smaller mobile devices */
      }
    
      .app-form-control {
        font-size: 12px; /* Adjust font size for smaller mobile devices */
      }
    }
  